extends layout

mixin input(id, content, value)
  div(class="input-group")
    div(class="input-group-prepend")
      span(class="input-group-text" id=id) #{content}
    input(value=value type="text" class=content + " form-control" placeholder=content aria-label=content aria-describedby=id)

mixin createImplementation(currentLanguage, languages)
  input(class="implementationFile" type="file" style="border: none; width: inherit; height: inherit")
  select(class="implementationLanguage")
    option() -
    each language in languages
      if language==currentLanguage
        option(value=language selected=true) #{language}
      else
        option(value=language) #{language}

mixin createStep(position, name, doc, type, inputDoc, outputDoc, outputExtension, implementations)
  div(id="step" + position, style="text-align: center;")
    div(class="row")
      div(class="col")
        div
          +input("step" + position + "inputDoc", "inputDoc", inputDoc)
        div(class="highlight" style="font-size: 50px;") &#8675;
    div(class="row step")
      div(class="box col")
        p(style="white-space:pre;")
          div
            each concept in concepts
              if type==concept
                input(type="radio" value=type id=concept name="step" + position + "type" class="type input-hidden" checked)
              else
                input(type="radio" value=type id=concept name="step" + position + "type" class="type input-hidden")
              label(for=concept)
                +conceptIcon(concept)
          div
            +input("step" + position + "name", "name", name)
          div
            +input("step" + position + "doc", "doc", doc)
      div(class="col-1")
      div(class="box col")
        p(style="white-space:pre;")
          div
            if implementations && implementations[0]
              each implementation in implementations
                div(class="implementation" style="white-space:pre;")
                  if implementation.fileName
                    div(style="text-align: left;") #{implementation.fileName}
                  +createImplementation(implementation.language, languages)
            div(class="implementation" style="white-space:pre;")
              +createImplementation("-", languages)
          a(onclick="addImplementation('step" + position +"'); return false;" style="float: right;")
            +plusButton()
    div(class="row")
      div(class="col")
        div(class="highlight" style="font-size: 50px;") &#8675;
        +input("step" + position + "outputDoc", "outputDoc", outputDoc)
        +input("step" + position + "outputExtension", "outputExtension", outputExtension)

block pageJS
  script(src="/javascripts/define.js")

block header
  | Phenotype
  form(class="form-inline")
    +input("workflowName", "name", workflow&&workflow.name?workflow.name:"")
    +input("workflowAbout", "about", workflow&&workflow.about?workflow.about:"")

block content

  div(class="container")
    p(style="white-space:pre;")
      div(id="steps")
        if workflow && workflow.steps && workflow.steps[0]
          each step in workflow.steps
            +createStep(step.position?step.position:"", step.name?step.name:"", step.doc?step.doc:"", step.type?step.type:"", step.inputs[0]&&step.inputs[0].doc?step.inputs[0].doc:"", step.outputs[0]&&step.outputs[0].doc?step.outputs[0].doc:"", step.outputs[0]&&step.outputs[0].extension?step.outputs[0].extension:"", step.implementations)
        else
          +createStep(1, "", "", "", "", "", "", "", "", "")

    div(class="row justify-content-center")
      a(onclick="addStep(); return false;" style="margin: 10px;")
        +plusButton()
      a(onclick="createOrUpdateWorkflow(); return false;" style="margin: 10px;")
        +tickButton()
