extends layout

mixin createWorkflow(name, about)
  input(id="workflow-name", value=name, placeholder="name" label="workflow name" type=text)
  input(id="workflow-about", value=about, placeholder="about" type=text)

mixin createImplementation(currentLanguage, languages)
  input(class="implementationFile", placeholder="file", type="file")
  select(class="implementationLanguage")
    each language in languages
      if language==currentLanguage
        option(value=language selected=true) #{language}
      else
        option(value=language) #{language}

mixin createStep(position, name, doc, type, inputDoc, outputDoc, outputExtension, implementations)
  div(id="step" + position)
    p(style="white-space:pre;")
      | Step:
      input(class="name", value=name, placeholder="id" label="workflow name" type="text")
      input(class="doc", value=doc, placeholder="doc" type="text")
      select(class="type", placeholder="about")
        option(value="load", selected=true) load
        option(value="boolean-expression") boolean-expression
        option(value="write") write
    p(style="white-space:pre;")
      | Input:
      input(class="inputDoc", value=inputDoc, placeholder="doc" label="input doc" type="text")
    p(style="white-space:pre;")
      | Output:
      input(class="outputDoc", value=outputDoc, placeholder="doc" label="output doc" type="text")
      input(class="outputExtension", value=outputExtension, placeholder="extension" label="output extension" type="text")
    if implementations && implementations[0]
      each implementation in implementations
        p(class="implementation" style="white-space:pre;")
          | Implementation:
          if implementation.fileName
            | #{implementation.fileName}
          +createImplementation(implementation.language, languages)
    p(class="implementation" style="white-space:pre;")
      | Implementation:
      +createImplementation(languages[0], languages)
    a(onclick="addImplementation('step" + position +"'); return false;") Add implementation

block content
  script(src="/javascripts/define.js")

  div(class="container")
    p(style="white-space:pre;")
      | Workflow:
      if workflow
        +createWorkflow(workflow.name?workflow.name:"", workflow.about?workflow.about:"")
      else
        +createWorkflow("", "")
      div(id="steps")
        if workflow && workflow.steps && workflow.steps[0]
          each step in workflow.steps
            +createStep(step.position?step.position:"", step.name?step.name:"", step.doc?step.doc:"", step.type?step.type:"", step.inputs[0]&&step.inputs[0].doc?step.inputs[0].doc:"", step.outputs[0]&&step.outputs[0].doc?step.outputs[0].doc:"", step.outputs[0]&&step.outputs[0].extension?step.outputs[0].extension:"", step.implementations)
        else
          +createStep(1, "", "", "", "", "", "", "", "", "")


    a(onclick="addStep(); return false;") Add step
    a(onclick="createOrUpdateWorkflow(); return false;") Save
