extends layout

mixin createImplementation(currentLanguage, languages, fileName=null)
  div(class="implementation" style="padding-top: 10px;")
    span(class="implementationFileExisting")
      if fileName
        | #{fileName}
    div
      input(class="implementationFile" type="file" style="border: none; width: inherit; height: inherit")
      select(class="implementationLanguage")
        option() -
        each language in languages
          if language==currentLanguage
            option(value=language selected=true) #{language}
          else
            option(value=language) #{language}

mixin createStep(position, name, doc, type, inputDoc, outputDoc, outputExtension, implementations)
  div(id="step" + position style="padding-top: 20px;")
    div(class="row description highlight")
      div(class="col highlight")
        | Input
    div(class="row")
      div(class="col")
        +input("step" + position, "inputDoc", "Describe", inputDoc)
        div(class="highlight arrow") &#8675;
    div(class="row")
      div(class="col highlight")
        | Step
    div(class="row step")
      div(class="box col")
        div(style="text-align: center;")
          each concept in concepts
            if type==concept
              input(type="radio" value=concept id="step" + position + concept name="step" + position + "type" class="type input-hidden" checked)
            else
              input(type="radio" value=concept id="step" + position + concept name="step" + position + "type" class="type input-hidden")
            label(for="step" + position + concept, class=concept)
              +conceptIcon(concept)
        div
          +input("step" + position, "name", "Name", name)
        div
          +input("step" + position, "doc", "Describe", doc)
      div(class="col-1")
      div(class="box col")
        if implementations && implementations[0]
          each implementation in implementations
              +createImplementation(implementation.language, languages, implementation.fileName)
        else
            +createImplementation("-", languages)
        a(onclick="addImplementation('step" + position +"'); return false;" style="float: right;")
          +plusButton()
    div(class="row")
      div(class="col")
        div(class="highlight arrow") &#8675;
    div(class="row")
      div(class="col highlight")
        | Output
    div(class="row")
      div(class="col")
        +input("step" + position, "outputDoc", "Describe", outputDoc)
        +input("step" + position, "outputExtension", "Extension", outputExtension)
    div(class="row stepRemove" style=(position==1?"display: none;":""))
      div(class="col")
        a(onclick="logDeletedStep(this); return false;" style="margin: 10px;")
          span(class="highlight") REMOVE

block pageJS
  script(src="/phenoflow/javascripts/define.js")

block header
  span(class="authentication")
    | Define a new phenotype
  form(class="form-inline restricted")
    +input("", "workflowName", "name", workflow&&workflow.name?workflow.name:"")
    +input("", "workflowAbout", "about", workflow&&workflow.about?workflow.about:"")
    a(onclick="createOrUpdateWorkflow(); return false;" class="a-button" style="margin: 10px;")
      | SAVE

block content

  include authentication.pug

  span(class="restricted")
    div(class="container")
      div(id="steps")
        if workflow && workflow.steps && workflow.steps[0]
          each step in workflow.steps
            +createStep(step.position?step.position:"", step.name?step.name:"", step.doc?step.doc:"", step.type?step.type:"", step.inputs[0]&&step.inputs[0].doc?step.inputs[0].doc:"", step.outputs[0]&&step.outputs[0].doc?step.outputs[0].doc:"", step.outputs[0]&&step.outputs[0].extension?step.outputs[0].extension:"", step.implementations)
        else
          +createStep(1, "", "", "", "", "", "", "", "", "")

    div(class="row justify-content-center")
      a(onclick="addStep(); return false;" style="margin: 10px;")
        +plusButton()
