div(class="container" style="padding-top: 20px;")
  each workflow in workflows
    span(class="workflow " + workflow.userName)
      div(class="row")
        div(class="col" style="padding-top: 20px;")
            a(href=listPrefix + workflow.id) #{workflow.name}
            |  #{workflow.about}
        div(class="col-1" style="padding-top: 20px;")
            a(href=listPrefix + workflow.id)  VIEW
div(class="container" style="padding-top: 20px; text-align: center;")
  if previous!==undefined && previous > -1
    a(href=previous) PREVIOUS
  if next && workflows.length == limit
    | &nbsp;
    a(href=next) NEXT
